<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    @{ViewData["Title"] = "Hackatwitchthon";}
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
    <h1>Welcome! lets Play a game!</h1>
    <br>
    <img src="/images/letsPlay.jpg" alt="lets play" style="width:304px;height:328px;">
    <br>
    <br>
    <br>
    <form action=""></form>
    <button style="width: 200px;">let's play</button>
    </div>
</body>
</html>